# Игнорирование виртуального окружения
venv/
.venv/

# Игнорирование артефактов Python
*.pyc
__pycache__/

# Игнорирование отчетов Allure
reports/

# Игнорирование настроек IDE
.idea/

# Игнорирование логов и временных файлов
*.log
tmp/

# Игнорирование файлов операционных систем
.DS_Store
Thumbs.db